<header>
  <h2 class="h2 article-title">About me</h2>
</header>

<section class="about-text">

  <p>
    Greetings! I’m <strong>Mowaz Mohammed Abdul Karim</strong>, an avid researcher with a strong passion for Environmental Science and Engineering. My research interest lies at the intersection of <strong>water sanitation and hygiene</strong>, <strong>renewable energy</strong>, <strong>mathematical modelling</strong>, and <strong>deep learning</strong>, with a strong focus on environment and sustainability.
  </p>

  <p>
    I am currently working as research assistant under the supervision of Dr. Md. Imran Kabir regarding renewable energy generation from human locomotion. Apart from that, I am also working on generative AI model application in Structural Engineering.
  </p>

  <p>
    I hold a B.Sc. in Civil and Environmental Engineering from <strong>Shahjalal University of Science and Technology</strong>, where I explored topics like structural engineering and environmental engineering.
  </p>

  <p>
    Outside academia, I served as the <strong>General Secretary</strong> of a student-led cultural organization of my university <strong>AAJ Muktomancho</strong>. Additionally, I served as the <strong>Joint Secretary</strong> of the only robotics organization of my university <strong>RoboSUST</strong>. I love playing football and first-person shooting games. I sometimes also enjoy reading and watching documentaries.
  </p>

  <p>
    Feel free to explore my work or reach out if you'd like to connect!
  </p>

</section>
