
    <header>
      <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text">
      <p>
        Hi good people! Welcome to My Site!

      </p>

      <p>
        This is Mir Rafiul Ahmed. Currently, I am working as a Graduate Teaching Assistant in School of Economics, University of Maine. Prior to that, I worked as a Senior Research Assistant in one of the leading economic
        research institutes of Bangladesh, South Asian Networking on Economic Modeling (SANEM). </p>
      <p> I am a diligent Economics graduate student with a flair for creative thinking and a strong work ethic,
        possess compelling analytical and research-driven abilities, coupled with concise communication skills for
        effective presentations with proficiency in digital content creation, aiming to establish a fulfilling
        career in academia and policymaking while actively contributing to development </p>
      My research interests include (but are not limited to) the following:
      </p>
      <ul class="ul-disc">
        <li class="ul-disc">Development Economics</li>
        <li class="ul-disc">Experimental & Behavioral Economics</li>
        <li class="ul-disc">Financial Economics</li>
        <li class="ul-disc">Gender Studies</li>
      </ul>
      <p></p>
      <p>
        I am now pursuing my Master's in Economics under the School of Economics, University of Maine. My journey in the world of economics began with a deep curiosity about the forces that shape our societies, and it has led me to where I am today—a passionate researcher committed to making a difference through knowledge and policy.
      </p>
      <p>
        I have completed my Bachelor of Social Science in Economics from Shahjalal University of Science and
        Technology, Sylhet, Bangladesh in May 2023. I worked under Mr. Gias Uddin Khan, Associate Professor, SUST
        for my final year project for 6 months from July 2022 to December 2023.
      </p>
      <p>
        Prior to joining SANEM, I have also worked on different research projects for the SUST Research Center.
        Apart from that, I have also worked as a Research Intern in SANEM.
      </p>
      <p>
        I have also initiated Econ Insider and worked as a founding executive director. Econ Insider is a
        non-partisan youth-led organisation for economics enthusiasts with a motive to drive young minds towards
        economic research through arranging economic discussions, workshops and contests.
      </p>

      <p>
        You can explore the details about me and my work through this website. Feel free to get in touch with me for
        any queries.
      </p>
    </section>

    <!--
      - testimonials modal
    -->

    <div class="modal-container" data-modal-container>

      <div class="overlay" data-overlay></div>

      <section class="testimonials-modal">

        <button class="modal-close-btn" data-modal-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <div class="modal-img-wrapper">
          <figure class="modal-avatar-box">
            <img src="./assets/images/avatar-1.png" alt="Mahfuzul Nissan" width="80" data-modal-img>
          </figure>

          <img src="./assets/images/icon-quote.svg" alt="quote icon">
        </div>

        <!-- <div class="modal-content">

          <h4 class="h3 modal-title" data-modal-title>Mahfuzul Nissan</h4>



          <div data-modal-text>

          </div>

        </div> -->

      </section>

    </div>


