
    <header>
      <h2 class="h2 article-title">About me</h2>
    </header>

    <section class="about-text">
  <p>
    Hello and welcome! I’m <strong>Mir Rafiul Ahmed</strong>, a graduate student and research assistant in the School of Economics at the University of Maine. My research interest lies at the intersection of <strong>development economics</strong>, <strong>behavioral economics</strong>, and <strong>public policy</strong>, with a strong focus on environmental decision-making and sustainable livelihoods.
  </p>
  <p>
    I currently work on experimental environmental economics projects in Noblet PFAS Lab, including research on PFAS contamination and risk perception, as well as market development strategies for Maine’s marine aquaculture sector. Prior to this, I served as a <strong>Senior Research Assistant</strong> at the <strong>South Asian Network on Economic Modeling (SANEM)</strong>, where I collaborated on projects with the <strong>World Bank</strong>, <strong>UNDP</strong>, and <strong>ILO</strong>.
  </p>
  <p>
    I hold a B.S.S. in Economics (Magna cum Laude) from <strong>Shahjalal University of Science and Technology</strong>, where I also contributed to field-based research on poverty and cognitive development. I'm passionate about bridging research and policy, particularly in contexts that affect marginalized communities and local economies.
  </p>
  <p>
    Outside academia, I’m the <strong>founder of Econ Insider</strong>, a youth-led platform promoting economic discourse and research among students. I also enjoy data visualization, public speaking, and working on cross-disciplinary solutions to real-world challenges.
  </p>
  <p>
    Feel free to explore my work or reach out if you'd like to connect!
  </p>
    </section>

    <!--
      - testimonials modal
    -->

    <div class="modal-container" data-modal-container>

      <div class="overlay" data-overlay></div>

      <section class="testimonials-modal">

        <button class="modal-close-btn" data-modal-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <div class="modal-img-wrapper">
          <figure class="modal-avatar-box">
            <img src="./assets/images/avatar-1.png" alt="Mahfuzul Nissan" width="80" data-modal-img>
          </figure>

          <img src="./assets/images/icon-quote.svg" alt="quote icon">
        </div>

        <!-- <div class="modal-content">

          <h4 class="h3 modal-title" data-modal-title>Mahfuzul Nissan</h4>



          <div data-modal-text>

          </div>

        </div> -->

      </section>

    </div>


