<header>
  <h2 class="h2 article-title">Blogs</h2>
</header>

<section class="timeline">
  <div class="title-wrapper">
    <div class="icon-box">
      <ion-icon name="newspaper-outline"></ion-icon>
    </div>

    <h3 class="h3">LinkedIn Articles</h3>
  </div>

  <ol class="timeline-list">
    <li class="timeline-item">
      <a href="https://www.linkedin.com/pulse/shadow-economy-work-reasons-results-analysis-effect-social-ahmed/?trackingId=es0FSLqPRaujhYapQMTTjQ%3D%3D" target="_blank" class="article-link">
        <h4 class="h4 timeline-item-title">
          The Shadow Economy and Work in the Shadow: Reasons, Results and Analysis of the effect on Social Development
        </h4>
      </a>
    </li>

    <li class="timeline-item">
      <a href="https://www.linkedin.com/pulse/informal-economy-employment-bangladesh-complex-labyrinth-rafiul-ahmed/?trackingId=Uxlq3xFiSKCT4N1SKn101w%3D%3D" target="_blank" class="article-link">
        <h4 class="h4 timeline-item-title">
          The Informal Economy and Employment in Bangladesh: A Complex Labyrinth or another door of Prospects?
        </h4>
      </a>
    </li>

    <li class="timeline-item">
      <a href="https://www.linkedin.com/pulse/blue-economy-pathway-sustainable-growth-bangladesh-rafiul-ahmed/?trackingId=Uxlq3xFiSKCT4N1SKn101w%3D%3D" target="_blank" class="article-link">
        <h4 class="h4 timeline-item-title">
          Blue Economy: A Pathway for Sustainable Growth in Bangladesh
        </h4>
      </a>
    </li>
  </ol>
</section>
