<header>
  <h2 class="h2 article-title">Education</h2>
</header>

<section class="timeline">

  <div class="title-wrapper">
    <div class="icon-box">
      <ion-icon name="book-outline"></ion-icon>
    </div>
    <!-- Optional heading inside timeline -->
    <!-- <h3 class="h3">Academic Background</h3> -->
  </div>

  <ol class="timeline-list">

    <li class="timeline-item">

      <h4 class="h4 timeline-item-title">
        B.Sc. in Civil and Environmental Engineering
        <span style="font-weight: normal;">[March 2019 – May 2025]</span>
      </h4>

      <h4>
        <a href="https://www.sust.edu/" target="_blank" style="color: orange;">
          Shahjalal University of Science and Technology, Sylhet, Bangladesh
        </a>
      </h4>
      <br>
      <p class="timeline-text-custom">
        <strong>CGPA:</strong> 3.12 / 4.0
      </p>
      <br>
      <p class="timeline-text-custom">
        <u>Key Courses:</u>  
        Environmental Engineering, Engineering Mechanics, Engineering Materials, Calculus, Numerical Analysis,  
        Fluid Mechanics, Solid Mechanics, Geology & Geomorphology, Hydrology, Remote Sensing & GIS,  
        Water Supply Engineering, Environmental Sanitation, RCC Design, Wastewater Engineering, etc.
      </p>
      <br>
      <p class="timeline-text-custom">
        <u>Final Year Thesis:</u>  
        <em>Prediction of Seismic Effect on Structure using Deep Learning</em>
      </p>

    </li>

  </ol>

</section>
