<header>
  <h2 class="h2 article-title">Experience</h2>
</header>

<section class="timeline">
  <div class="title-wrapper">
    <div class="icon-box">
      <ion-icon name="briefcase-outline"></ion-icon>
    </div>
    <h3 class="h3">Teaching Experience</h3>
     </div>
    <ol class="timeline-list">

    <li class="timeline-item">
      <h4 class="h4 timeline-item-title"> Graduate Teaching Assistant [Fall, 2024]</h4>
      <span>School of Economics, University of Maine</span>
      <br>
      <p class="timeline-text">
      <ul class="ul-disc">
        <li class="ul-disc">
         Assist the lead instructor with lesson planning, preparing materials, and grading assignments to ensure smooth course delivery. </li>
        <li class="ul-disc">
          Facilitate classroom discussions, encouraging active participation, and lead review sessions to reinforce key concepts..
        </li>
        <li class="ul-disc">
          Offer additional tutoring and support outside of class hours to help students grasp challenging material.
        </li>
        <li class="ul-disc">
          Manage classroom logistics, address student inquiries promptly, and contribute to maintaining a positive and productive learning environment.
        </li>
        <br>
        <b> Taught Courses:</b> <br>
        
        <b>• ECO 220 Intermediate Microeconomics </b> <br>
        Course Instructor: Dr Keith S. Evans, Associate Professor, School of Economics, UMaine <br>
        <br>
        <b>• ECO 403 Experimental Economics</b> <br>
        Course Instructor: Dr Caroline L. Noblet, Associate Professor, School of Economics, UMaine <br> 
      <br> 
  <div class="title-wrapper">
    <div class="icon-box">
      <ion-icon name="briefcase-outline"></ion-icon>
    </div>

    <h3 class="h3">Professional Experience</h3>
  </div>

  <ol class="timeline-list">

    <li class="timeline-item">

      <h4 class="h4 timeline-item-title"> Senior Research Assistant [February, 2023 - May, 2024]</h4>

      <span>South Asian Network on Economic Modeling (SANEM), Dhaka, Bangladesh</span>

      <p class="timeline-text">
      <ul class="ul-disc">
        <li class="ul-disc">
          Developing and pitching concept notes and project proposals for hosting national and international
          seminars, conferences, and training programs for international foundations, multilateral
          organizations, donor agencies, multinational corporations, and government representatives </li>
        <li class="ul-disc">
          Designing questionnaires, conducting FGD, KII & IDI for different projects
        </li>
        <li class="ul-disc">
          Data analysis and interpretation, writing research reports
        </li>
        <li class="ul-disc">
          Providing research and knowledge support to the team in ongoing projects & programs
        </li>
        <li class="ul-disc">
          Survey management with field enumerators
        </li>
        <li class="ul-disc">
          Collecting, analyzing & and presenting relevant data for research output
        </li>
        <li class="ul-disc">
          Managing the website and blog with the updated writeup and visual contents
        </li> <br>
        <b>Key Project Involvements:</b> <br>
        
        <b>• Investment Diversification of Priority Sectors After LDC Graduations</b> <br>
        Theme : Trade and Regional Integration <br>
        In Collaboration with: UNDP Bangladesh <br>
<br>
        <b>• Assessment of Government Investment in Nutrition-related Interventions</b> <br>
        Theme : Human Capital Development <br>
        In Collaboration with: CARE International Bangladesh <br>
<br>
        <b>• Women’s Financial Inclusion Strategy in Bangladesh</b> <br>
        Theme : Gender and Inclusive Development <br>
        In Collaboration with: Aspire to Innovate (a2i), Bangladesh <br>
<br>
        <br><b>• Impact of Anti-Competitive Practices in the Construction Industry on Housing for the Poor in
          Bangladesh </b> <br>
        Theme : Institutions and Political economy <br>
        In Collaboration with: Advocata Institute (Guarantee) Limited, Sri Lanka <br>

        <br> <b>• To explore a sustainable pathway for Bangladesh’s energy transformation towards green and
          clean energy </b>
        <br>Theme : Environment and Energy Economics
        <br>In Collaboration with: Tara Climate Foundation, Singapore

      </ul>
      </p>

    </li>

    <li class="timeline-item">

      <h4 class="h4 timeline-item-title">Research Intern [November, 2021 – December, 2022]</h4>

      <span>South Asian Network on Economic Modeling (SANEM), Dhaka, Bangladesh</span>

      <p class="timeline-text">
      <ul class="ul-disc">
        <li class="ul-disc">
          Primary data collection and interpretation
        </li>
        <li class="ul-disc">
          Preparing primary analysis and assisting research associates in writing reports and presentations
        </li>
        <li class="ul-disc">
          Providing research and knowledge support to the team in ongoing projects & programs
        </li>
      </ul>
      </p>

    </li>

    <li class="timeline-item">

      <h4 class="h4 timeline-item-title">Research Assistant [January, 2022 - July, 2022]</h4>

      <span>SUST Research Center</span>

      <p class="timeline-text-custom"> <b>Project Involvement</b> <br>
        • Does poverty hinder cognitive development? An empirical study from Sunamganj, Sylhet [Project ID:
        SS/2021/1/16] <br>
        <b>Funded by:</b> SUST Research Center <br>
        <b>Supervisor:</b> Md. Gias Uddin Khan, Associate Professor, Department of Economics, Shahjalal University of
        Science and Technology & Dr Mohammad Abdul Hannan Pradhan, Professor, Department of
        Economics, Shahjalal University of Science and Technology <br>
        <b>Key Responsibilities:</b> Survey data analysis, writing research chapters, field research, research
        design, questionnaire design (including survey, KII, FGD, and IDI), literature review, monitoring field
        survey, field visit.

  </ol>

</section>
