
    <header>
      <h2 class="h2 article-title"> Research Projects</h2>
    </header>

    <section class="Research Projects">

      <ul class="filter-list">

        <li class="filter-item">
          <button class="active" data-filter-btn>All</button>
        </li>

        <li class="filter-item">
          <button data-filter-btn>Intelligent Agents</button>
        </li>

        <li class="filter-item">
          <button data-filter-btn>Network Penetration</button>
        </li>
        <!--
        <li class="filter-item">
          <button data-filter-btn>Web development</button>
        </li>
        !-->
      </ul>

      <div class="filter-select-box">

        <button class="filter-select" data-select>

          <div class="select-value" data-selecct-value>Select category</div>

          <div class="select-icon">
            <ion-icon name="chevron-down"></ion-icon>
          </div>

        </button>

        <ul class="select-list">

          <li class="select-item">
            <button data-select-item>All</button>
          </li>

          <li class="select-item">
            <button data-select-item>Intelligent Agents</button>
          </li>

          <li class="select-item">
            <button data-select-item>Network Penetration</button>
          </li>
          <!--
         <li class="select-item">
            <button data-select-item>Applications</button>
          </li>

          <li class="select-item">
            <button data-select-item>Web development</button>
          </li>
        !-->
        </ul>

      </div>

      <ul class="project-list">

        <li class="project-item  active" data-filter-item data-category="network penetration">
          <a
            href="https://github.com/minissan/Network-Penetration-Projects/tree/main/Server%20Penetration%20Testing">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/netpen_server.png" alt="Network Penetration Server" loading="lazy">
            </figure>

            <h3 class="project-title">Server Network Penetration</h3>

            <p class="project-category">Network Penetration</p>

          </a>
        </li>

        <li class="project-item  active" data-filter-item data-category="network penetration">
          <a
            href=https://github.com/minissan/Network-Penetration-Projects/tree/main/Website%20Penetration%20Testing>

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/netpen_website.png" height="30" width="30" alt="Website Penetration Website"
                loading="lazy">
            </figure>

            <h3 class="project-title">Website Network Penetration</h3>

            <p class="project-category">Network Penetration</p>

          </a>
        </li>

        <li class="project-item  active" data-filter-item data-category="intelligent agents">
          <a href="https://github.com/minissan/Intelligent_Agents_AI/tree/main/Quadcopter%20Patrol">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/quadcopter_patrol.jpg" alt="Quadcopter Patrol" loading="lazy">
            </figure>

            <h3 class="project-title">Quadcopter Patrol</h3>

            <p class="project-category">Intelligent Agents</p>

          </a>
        </li>

        <li class="project-item  active" data-filter-item data-category="intelligent agents">
          <a href="https://github.com/minissan/Intelligent_Agents_AI/tree/main/D*%20Algorithm%20Implementation">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/dstar_implementation.jpg" alt="D star algorithm implementation"
                loading="lazy">
            </figure>

            <h3 class="project-title">D* Algorithm Implementation</h3>

            <p class="project-category">Intelligent Agents</p>

          </a>
        </li>

        <li class="project-item  active" data-filter-item data-category="intelligent agents">
          <a
            href="https://github.com/minissan/Intelligent_Agents_AI/tree/main/Quadcopter%20Path%20Following%20with%20D*%20Algorithm">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/quadcopter_following_dstart_algo.jpg"
                alt="Quadcopter Path Following with D*" loading="lazy">
            </figure>

            <h3 class="project-title">Quadcopter Path Following with D*</h3>

            <p class="project-category">Intelligent Agents</p>

          </a>
        </li>

        <li class="project-item  active" data-filter-item data-category="intelligent agents">
          <a href="https://github.com/minissan/Intelligent_Agents_AI/tree/main/Uniform%20Sampling%20Unit%20Sphere">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/uniform_sampling_unit_sphere.jpg" alt="Uniform Sampling Unit Sphere"
                loading="lazy">
            </figure>

            <h3 class="project-title">Uniform Sampling Unit Sphere</h3>

            <p class="project-category">Intelligent Agents</p>

          </a>
        </li>

        <li class="project-item  active" data-filter-item data-category="intelligent agents">
          <a href="https://github.com/minissan/Intelligent_Agents_AI/tree/main/Collision-Free%20Trajectories">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/collision_free_trajectories.jpg" alt="Collision-Free Trajectories"
                loading="lazy">
            </figure>

            <h3 class="project-title">Collision-Free Trajectories</h3>

            <p class="project-category">Intelligent Agents</p>

          </a>
        </li>
        <!--
        <li class="project-item  active" data-filter-item data-category="web development">
          <a href="#">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/project-7.png" alt="summary" loading="lazy">
            </figure>

            <h3 class="project-title">Summary</h3>

            <p class="project-category">Web development</p>

          </a>
        </li>

        <li class="project-item  active" data-filter-item data-category="applications">
          <a href="#">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/project-8.jpg" alt="task manager" loading="lazy">
            </figure>

            <h3 class="project-title">Task Manager</h3>

            <p class="project-category">Applications</p>

          </a>
        </li>

        <li class="project-item  active" data-filter-item data-category="web development">
          <a href="#">

            <figure class="project-img">
              <div class="project-item-icon-box">
                <ion-icon name="eye-outline"></ion-icon>
              </div>

              <img src="./assets/images/project-9.png" alt="arrival" loading="lazy">
            </figure>

            <h3 class="project-title">Arrival</h3>

            <p class="project-category">Web development</p>

          </a>
        </li>
        !-->
      </ul>

    </section>


