<div class="sidebar-info">

  <figure class="avatar-box">
    <img src="assets\images\headshot_mowaz.jpeg" alt="Mowaz Mohammed Abdul Karim" width="80">
  </figure>

  <div class="info-content">
    <h1 class="name" title="Mowaz Mohammed Abdul Karim">Mowaz Mohammed Abdul Karim</h1>
    <p class="title">Aspiring Researcher</p>
  </div>

  <button class="info_more-btn" data-sidebar-btn>
    <span>Show Contacts</span>
    <ion-icon name="chevron-down"></ion-icon>
  </button>

</div>

<div class="sidebar-info_more">

  <div class="separator"></div>

  <ul class="contacts-list">

    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Email</p>
        <a href="mailto:mowaz.mohd@gmail.com" class="contact-link">mowaz.mohd@gmail.com</a>
      </div>
    </li>

    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="phone-portrait-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Phone</p>
        <a href="tel:+8801305685744" class="contact-link">+8801305685744</a>
      </div>
    </li>

    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="location-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Location</p>
        <address>213 West Shantibagh,Dhaka 1217</address>
      </div>
    </li>

  </ul>

  <div class="separator"></div>

  <ul class="social-list">

    <li class="social-item">
      <a href="https://www.linkedin.com/in/mowaz/" target="_blank" class="social-link" aria-label="LinkedIn">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </li>

    <li class="social-item">
      <a href="https://github.com/Mowaz53" target="_blank" class="social-link" aria-label="GitHub">
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </li>

    <li class="social-item">
      <a href="https://x.com/Mowaz53" target="_blank" class="social-link" aria-label="Twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    </li>

  </ul>

</div>
